.modal__container {
  width: 50vw;
  height: 80vh;
  position: fixed;
  top: 0vh;
  left: 25vw;
  background-color: white;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.25),
    -10px 0px 20px rgba(0, 0, 0, 0.25), 0px 10px 20px rgba(0, 0, 0, 0.25),
    0px -10px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 19%;
  grid-row-gap: 1%;
  grid-template-areas:
    "form"
    "actions";
}

.action__container {
  display: flex;
  justify-content: space-between;
  grid-area: actions;
}

.form__container {
  grid-area: form;
  display: flex;
  place-content: center;
  padding: 1rem;
}

.event_form {
  width: 100%;
}

.action_handler {
  font-weight: bold;
  font-size: large;
  padding: 1rem;
  margin: 1rem;
}

.action_handler:disabled {
  background-color: rgba(139, 16, 155, 0.2);
}

.cnt {
  margin: 0.5rem;
}

.title__container {
  align-items: center;
}

.title_input {
  width: 100%;
}

.date__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.color__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.end_input {
  max-width: 10vw;
  flex: 1;
}

.time_label {
  font-size: larger;
  color: rgb(139, 16, 155);
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.main_label {
  font-size: large;
  font-weight: bolder;
  color: rgb(139, 16, 155);
}
