.calendar_view__container {
  position: relative;
  display: grid;
  width: 100vw;
  grid-template-columns: 65vw 30vw;
  grid-template-rows: 100%;
  grid-template-areas: "calendar events";
  grid-column-gap: 1.66vw;
}

.calendar__container {
  grid-area: calendar;
  margin-left: 1%;
  position: fixed;
  border: 1px solid rgb(139, 16, 155);
  width: 65%;
  top: 17vh;
  padding: 0.5vw;
}

.next_events__container {
  grid-area: events;
  position: relative;
  margin-top: 5vw;
}
