.choose_month__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1vw;
}

.month_handler {
  padding: 1vw 2vw;
  border: none;
  font-size: 1.5vw;
  font-weight: bold;
}
.chosenMonth {
  font-weight: bold;
  font-size: 2vw;
  color: rgb(139, 16, 155);
  text-shadow: 0.5px 0.5px 0.1px black;
}

.calendar {
  width: 100%;
}
